/*自定义样式，实时生效*/

/* 全局属性
 * 页边距 padding:30px;
 * 全文字体 font-family:ptima-Regular;
 * 英文换行 word-break:break-all;
 */
div.table table tr:nth-child(1), div.table table tr:nth-child(9) {
  background:#fff1f1;
  }

* {
    font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    color: #353535;
    word-spacing: 0.8px;
    letter-spacing: 0.8px;
    border-radius: 16px;
}

/* 段落，下方未标注标签参数均同此处
   * 上边距 margin-top:5px;
   * 下边距 margin-bottom:5px;
   * 行高 line-height:26px;
   * 词间距 word-spacing:3px;
   * 字间距 letter-spacing:3px;
   * 对齐 text-align:left;
   * 颜色 color:#3e3e3e;
   * 字体大小 font-size:16px;
   * 首行缩进 text-indent:2em;
   */
p {
    line-height: 2.5;
    margin: 0.8em 0;
    font-size: 16px;
    color: #353535;
  text-align: justify;
}

/* 一级标题 */
h1 {
    
    text-align: center;
    font-size: 1.3em;
}

/* 一级标题内容 */
h1 .content {
    display: inline-block;
    font-weight: bold;
    background: #039;
    color: #ffffff;
    padding: 3px 10px 1px;
    border-radius: 13px 13px 13px 13px;
}


/* 二级标题 */
h2 {
    text-align: left;
    margin: 20px 10px 0px 0px;
}

/* 二级标题内容 */
h2 {
    font-size: 36px;
    font-weight: bold;
    color: #039;
    display: inline-block;
    padding-left: 10px;
    border-left: 5px solid #039;
}

/* 三级标题内容 */
h3  {
    font-size: 28px;
    color: #039;
}

h4 {
  color: #039;
  font-weight: 700;
}


/* 无序列表整体样式
   * list-style-type: square|circle|disc;
   */
ul {
    color: #039;
    font-size: 16px;
}

/* 有序列表整体样式
   * list-style-type: upper-roman|lower-greek|lower-alpha;
   */
ol {
    color: #039;
    font-size: 16px;
  
}

/* 列表内容，不要设置li
   */
li section {
    color: #353535;
  line-height:2;
}

/* 引用
   * 左边缘颜色 border-left-color:black;
   * 背景色 background:gray;
   */
.multiquote-3 {
    font-style: normal;
    border-left: none;
    padding: 15px 10px;
    line-height: 2;
    border-radius: 13px;
    color: #353535;
    background: #f5f5f5;
  text-align: justify;
}

.multiquote-3:before {
    content: "“";
    display: block;
    font-size: 2em;
    color: rgb(248, 57, 41);
    font-family: Arial, serif;
    line-height: 1em;
    font-weight: 700;
}

/* 引用文字 */
.multiquote-3 p {
    color: #353535;
    font-size: 16px;
    margin: 0 10px;
    display: block;
  line-height: 2;
}

.multiquote-1:after {
    content: "”";
    float: right;
    display: block;
    font-size: 2em;
    color: rgb(248, 57, 41);
    font-family: Arial, serif;
    line-height: 1em;
    font-weight: 700;
}

/* 链接 
* border-bottom: 1px solid #009688;
*/
a {
    color: rgb(41, 57, 245);
    font-weight: 400;
    border-bottom: 1px solid rgb(41, 57, 245);

}

/* 加粗 */
strong {
    font-weight: 700;
    color: #039;
}

/* 斜体 */
em {
  color: #933;
  background-color: transparent;
    /* background-color: #cfc;*/
}

/* 加粗斜体 */
em strong {
    color: #039;
}

/* 分隔线
   * 粗细、样式和颜色
   * border-top:1px solid #3e3e3e;
   */
hr {
    height: 1px;
    padding: 0;
    border: none;
    border-top: medium solidid #333;
    text-align: center;
    background-image: linear-gradient(to right, rgba(248, 57, 41, 0), rgba(248, 57, 41, 0.75), rgba(248, 57, 41, 0));
}

/* 图片
   * 宽度 width:80%;
   * 居中 margin:0 auto;
   * 居左 margin:0 0;
   */
figure {
    border-radius: 16px;
    overflow: hidden;
}

figure a img {
    border-radius: 16px;
    width: 100%;
    max-width: 100%;
}

img {
    border-radius: 6px;
    display: block;
    margin: 20px auto;
    max-width: 95%;
    object-fit: contain;
}

/* 图片描述文字 */
figcaption {
    display: block;
    font-size: 12px;
}

/* 行内代码 */
p code,
li code {
    color: #444;
}

/* 非微信代码块
   * 代码块不换行 display:-webkit-box !important;
   * 代码块换行 display:block;
   */
pre code {}

/*
   * 表格内的单元格
   * 字体大小 font-size: 16px;
   * 边框 border: 1px solid #ccc;
   * 内边距 padding: 5px 10px;
   */
table tr th,
table tr td {
    font-size: 16px;
    color: #645647;
}

table tr th {
    color: #353535;
    background-color: #dbd9d8;
}

.footnotes {
    font-size: 16px;
}

/* 脚注文字 */
.footnote-word {
    font-weight: normal;
    color: #f83929;
}

/* 脚注上标 */
.footnote-ref {
    font-weight: normal;
    color: #f83929;
}

/*脚注链接样式*/
.footnote-item em {
    font-size: 16px;
    display: block;
}

/* "参考资料"四个字 
  * 内容 content: "参考资料";
  */
.footnotes-sep:before {
    content: '参考资料 ';
    color: #f83929;
    letter-spacing: 1px;
    text-align: left;
    display: block;
    font-weight: 500;
    padding-bottom: .1em;
    border-bottom: 3px double #f83929;
    font-size: 20px;
}

/* 参考资料编号 */
.footnote-num {
    color: #f83929;
}

/* 参考资料文字 */
.footnote-item p {
    font-weight: 400;
    color: #f83929;
}

/* 参考资料解释 */
.footnote-item p em {
    font-weight: 400;
    font-size: 14px;
    color: #353535;
}

/* 行间公式
  * 最大宽度 max-width: 300% !important;
  */
.block-equation svg {
    color: #353535;
}

/* 行内公式
  */
.inline-equation svg {
    color: #353535;
}

/* 滑动图片
   */
.imageflow-img {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
